/* Font */
* {
    font-family: Verdana, sans-serif;
}

/* Buttons */
button {
    background-color: #04aa6d;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 18px 54px 0 rgba(0, 0, 0, 0.20);
}

/* Sidebar */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active link */
.sidebar a.active {
    background-color: #04aa6d;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover {
    background-color: #555;
    color: white;
}

/* Page content */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
}

/* On screens that are less than 600px wide, make the sidebar into a top-bar */
@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}